.login-modal {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .l-container, .r-container {
    padding: 20px;
  }
  
  .l-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
   
  }
  
  .logo img {
    width: 150px;
    margin-bottom: 20px;
  }

  /* h2{
    font-family:  sans-serif;
    font-weight: 600;
    font-size: 24px;
  } */
  .image .house-image {
    width: 100%!important;
    max-width: 300px;
    border-radius: 10px;
  }

 
  .r-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    background-color: #f5f5f5;
  }

  .r-container h2 {
    display: flex;
    justify-content:flex-start;
    margin: 0;
  }

  .MuiDialogTitle-root {
    font-size: 24px;
    font-weight: 600;
    color: #333;
  }
  
  .MuiDialogContentText-root {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .MuiTextField-root {
    background-color: #f3f6f9;
    border-radius: 8px;
  }
  
  .MuiTextField-root .MuiOutlinedInput-root {
    padding: 8px 12px;
  }
  
  .MuiButton-containedPrimary {
    background-color: #1e90ff;
    color: #fff;
    text-transform: none;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 20px;
  }
  
  .MuiButton-containedPrimary:hover {
    background-color: #1c86ee;
  }
  
  .MuiCheckbox-root {
    color: #1e90ff;
  }
  
  .MuiFormControlLabel-root {
    margin: 10px 0;
  }
  
  .MuiDialogActions-root {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
  }
  
  .MuiButton-textPrimary {
    color: #1e90ff;
    font-size: 14px;
  }

  .full-form{
    padding: 30px;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputDiv {
    display: flex;
    flex-direction: column;

    /* gap: 0.5rem; */
}

.inputDiv label {
    color:#355359 ;
    font-weight: 400;
    font-size: 16px; /* Adjusted to a smaller font size for the label */

    /* padding: 0.5rem 0; */
    display: block;
}

.inputDiv .input {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1rem; /* Adjusted padding for a more compact look */
    background: #E4EAF2;
    border: 0;
    border-radius: 10px;
}

.inputDiv .icon {
    color: var(--greyText);
    font-size: 1.2rem; /* Adjust the icon size to fit well in the input field */
}

.inputDiv input {
    background: none;
    outline: none;
    border: none;
    width: 100%;
    color: var(--blackColor); /* Ensure the text color is set */
    font-size: 14px; /* Adjust the font size to match the design */
}

/* Additional styling for overall layout */
