.group{
display: flex;
}

.accordion{
    margin-top: 2rem;
    border: none;
    display: block;
    background-color: white;
}

.flexCenter {
    display: flex;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
  }

.accordionItem{
    background-color: white;
    border: .8px solid rgb(128 128 128 / 14.3%);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.accordionItem.expanded{
    box-shadow: var(--shadow);
    border-radius: 6px;
}

.primary-text {
    color: white;
    font-weight: bold;
    font-size: 14px;
  }

.accordionButton{
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background-color: #2067d1;
    padding: 5px 14px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon{
    padding: 10px;
    background: transparent;
    border-radius: 5px;
}

.icon svg {
  fill: var(--white);
}

.accordionButton .primary-text{
    font-size: 14px;
}

@media (width <=1024px) {
   .v-container{
    flex-direction: column;
   }

   @media (width <=768px) {
    .accordionButton .primary-text{
        font-size: 0.8rem;
    }
   }

   @media (width <= 640px) {
    .primary-text {
      font-size: 1.5rem;
    }

    .orange-text {
      font-size: 1.2rem;
    }
  }
}

