/* .main-body {
  margin-top: 70px;
}

.main-con .container span {
  display: block;
}

.main-con h2 {
  text-align: center;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.card {
  max-width: 100%;
  margin-bottom: 20px;
}

.card img {
  max-width: 100%;
  border-radius: 26px;
  height: 255px;
  padding: 10px;
}

.card-body {
  font-size: smaller;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.property-info .info-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.property-info .icon {
  font-weight: bold;
}

.theme-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.theme-btn:hover {
  background-color: #0056b3;
}

#carousel .bord {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

#carousel .bord img {
  border-radius: 10px;
  margin-bottom: 31px;
  height: 262px;
}

.carousel-inner .carousel-item img {
  border-radius: 10px;
  height: 131px;
} */
