
@media only screen and (max-width: 767px) {
  iframe {
    width: 100%;
    height: 200px; /* Adjust height as needed for your layout */
  }
}

header nav .navbar-brand img{
height: 53px;
}
img{
width: 100%;
height: 400px;
margin-bottom: 20px;
}
@media (max-width: 768px) {
img {
width: 100%;
height:200px;
}
}
@media (max-width: 480px) {
.header {
padding: 10px;
}
.container {
width: 100%;
}
}
.main-con .content .row {
align-items: flex-start !important;
}
table {
border-collapse: collapse;
width: 100%;
margin-top: 20px;
}
th, td {
border: 1px solid #ddd;
padding: 12px;
text-align: left;
}
th {
background-color: #3498db;
color: white;
}
tr:nth-child(even) {
background-color: #f2f2f2;
}
#blog-title{
font-size:35px;  
font-weight:500;
}
#blog-space{
margin-top: -735px;
}
@media (max-width:600px){
#blog-title{
font-size:20px;  
font-weight:500; 
}
}
/*h2{font-size:0rem!important}*/
.col-md-4{background-color:#fff;padding:30px;box-shadow:0 3px 12px -1px rgb(7 10 25 / 10%),0 22px 27px -30px rgb(7 10 25 / 10%);margin-top:-2870px;border:2px solid #f1f1f1;width:30%;float:left;position:sticky;top:30px;padding:9px}@media (min-width:992px){.col-md-8{order:1}.col-md-4{order:2}}@media (max-width:992px){.col-md-4{margin-top:20px!important;width:100%}}.main-con .content{padding:20px 11px}#stickyIM{transition:all 10s;position:fixed;width:100%;background:#fff;z-index:9999}p{margin-top:0;margin-bottom:1rem;font-size:15px}.blogs-links ul li a:hover{color:blue}
@media (min-width: 768px) and (max-width: 991px) {
.form-top-home .form .form-group input[type=text] {
width: 598px;
}
.form-top-home .form {
display: block;
margin-top: 297px;
}
header nav .navbar-brand {
margin-right: 7px;
}
.navbar-expand-sm>.container{
margin-left: -28px;
}
.call-btn a {
font-size: 4px;
}
}
.content_li{
list-style: none;
}
@media(max-width:600px){.call-btn{display:hidden}#pics{width:22%}#heading{margin-left:85px !important;} 
@media (min-width: 900px){
.navbar-expand-sm>.container, .navbar-expand-sm>.container-fluid, .navbar-expand-sm>.container-lg, .navbar-expand-sm>.container-md, .navbar-expand-sm>.container-sm, .navbar-expand-sm>.container-xl {
-ms-flex-wrap: nowrap;
flex-wrap: nowrap;
}

}
html {
scroll-behavior: smooth;
}
.dropdown-menu {
margin: -7px;   
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 9rem;
margin: 0.125rem 0 0;
font-size: 13px;
color: #212529;
text-align: left;
list-style: none;
background-color: #fff;
background-clip: padding-box;
border: 1px solid rgba(0,0,0,.15);
border-radius: 0.25rem;
}
.dropdown_item{
padding:0px!important;
font-weight: 600!important;

}@media (max-width:767px){
.dropdown-menu {
margin-left: 0px!important;
}
header nav .navbar-nav .nav-link a.link i {
font-size: 12px;

}
#arrow{
width: 24px;
height: 100%;
position: absolute;

right: 0;
z-index: 20000;
}
#arrow1{
width: 24px;
height: 100%;
position: absolute;
right: 0;
z-index: 20000;
}
}
}
