.title {
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    min-height: 91px;
    color: #000;
    margin: 0;
    padding: 20px 0 5px;
}

.small {
  color: #89909a;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

.des{
  font-family: Lato, sans-serif;
    font-size: 14px;
    color: #000000;
    letter-spacing: .2px;
    line-height: 1.3;
}