#readmorefootercon li{line-height:1.1;margin-bottom:5px;padding:0 10px;font-size:13px;border-right:2px solid #b7b7b7}#readmorefootercon li a{color:#b7b7b7}.fa-linkedin{background:#007bb5;color:#fff}.fa-youtube{background:#b00;color:#fff}.fa-instagram{background:#125688;color:#fff}.fa-facebook{background:#3b5998;color:#fff}.fa-twitter{background:#55acee;color:#fff}footer .top-footer .social-links i{font-size:30px;margin-left:3px;padding:5px;width:38px;height:37px}.fa-facebook-f::before,.fa-facebook::before{content:"\f09a";margin-left:6px}

@media (width <=676px){#footerresponce,#footerresponce1{display:none}}

@media (width <= 676px){
footer .top-footer .footer-logo {
    display: block;
    margin-left: 64px;
}

#our-project{
    display: none;
}

.bottom-footer{
    display: none;
}

.Whatsupbuttn{
    display:none;
}
}
.custom-link {
    color: #737373 !important;
  }

footer .top-footer {
    padding: 30px 0 0;
    background-color: #121212;
    border-top: 1px solid #686060;
}

footer .top-footer li a {
    color: #737373;
    text-decoration: none;
}

footer .bottom-footer .container {
    border-top: 1px solid #686060;
}

footer .top-footer li a:hover {
    color: #fff;
    text-decoration: none;
}

             .Whatsupbuttn {
    position: fixed;
   left: 30px;
    bottom: 5px;
    height: auto;
    background: #9990;
    z-index: 1001;
        
       
}

.social-links img{
  border-radius: 19px;
    margin-left: 5px;
    height: 34px;
    width: 34px;
}



@media (max-width: 576px) {
    .top-footer .col {
      flex: 0 0 50%; /* 2 columns for small screens */
      max-width: 50%;
    }
  }
  
  @media (min-width: 768px) {
    .top-footer .col {
      flex: 0 0 33.33%; /* 3 columns for tablets */
      max-width: 33.33%;
    }
  }
  
  @media (min-width: 992px) {
    .top-footer .col {
      flex: 0 0 25%; /* 4 columns for desktops */
      max-width: 25%;
    }
  }
  