.bg-light{
  background-color: rgb(255 255 255) !important;
 }

.navbar-brand img {
  width: 150px;
  height: auto;
  margin: auto;
}

.search-form-container {
  position: relative; /* For positioning the search overlay relative to this container */
}

.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}

.search-overlay {
  position: absolute;
  top: 0;
  right: 47px;
  padding: 0;
  border-radius: 5px;
  display: flex
;
  align-items: center;
  z-index: 1000;
}

.search-input {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 8px;
  width: 500px;
  transition: width 0.3s ease;
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
}

.search-overlay .search-input {
  width: 500px; 
}

.search-overlay.show {
  opacity: 1;
  visibility: visible;
}


.nav-link {
  color: #000!important;
}

.search-button,
button {
  border: none;
  background: none;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 0;
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.dropdown-item {
  color: black;
}

.search-button svg {
  color: #7f7f7f;
  font-size: 16px;
}

button a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
}

button a svg {
  margin-right: 5px;
}

button:hover a {
  color: white;
  text-decoration: none;

}

.navbar-nav {
  font-weight: 600;
  font-size: 12px;
  gap: 0;
}

button {
  border: 1px solid #2067d1;
  border-radius: 10px;
  background-color: #2067d1;
  color: #fff;
  padding: 8px 12px;
  transition: all 0.3s ease;
}

.phoneButton{
  border-radius: 10px;
}

button a {
  color: #fff;
  font-weight: 600;
}

@media (width <= 768px) {
  .phoneButton{
    display: none;
  }

  .search-overlay{
    right: 14px;
  }

  .search-overlay .search-input {
    width: 336px;
}

  .navbar {
    padding: 0.5rem;
  }

  .logo-img {
    height: 40px;
  }

  .nav-link {
    font-size: 14px;
    margin-right: 10px;
    padding: 11px 5px !important;
    border-bottom: 1px solid #c5c5c5;

  }

  .search-form-container{
  position: relative;
    border-bottom: 1px solid #c5c5c5;
  }

  button {
    font-size: 12px;
    padding: 5px 8px;
    width: 50px;

  }

  button a {
    font-size: 12px;
  }
}

