/* Sidebar.css */
.sidebar {
    width: 250px;
    background-color: white;
    color: #757575;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
}

.sidebar.collapsed {
    width: 70px;
}

.toggle-btn {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;

    /* color: #ecf0f1; */
    color: #757575;
}

.sidebar-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.sidebar-item {
    padding: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.sidebar-item:hover {
    background-color: #34495e;
}

.sidebar-item .icon {
    font-size: 1.25rem;
    margin-right: 15px;
}

.sidebar-item span {
    font-size: 1rem;
    font-weight: 500;
}

.sidebar-item.active {
    background-color: #1F68D12E;
    border-radius: 28px;
    color: #757575;
}

.sub-menu {
    padding-left: 20px;
}

.sub-item {
    padding: 10px 15px;
    font-size: 0.9rem;
}

.sub-item.active {
    background-color: #16a085;
}

@media (width <= 768px) {
    .sidebar {
        width: 70px;
    }

    .sidebar.expanded {
        width: 200px;
    }
}
